*{
	padding: 0;
	margin: 0;
}
body{
	background: #f6f6f6;
}
body.loading{
	position: relative;
}
body.loading .loader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 99999;
}
a:hover{
	text-decoration: none;
	color: inherit;
}
.d-color{
	color: #e2aa4f;
}
.d-color-bg{
	background: #e2aa4f;
}
@font-face {
  font-family: open-sans-regular;
  src: url(../../fonts/OpenSans_Regular.woff);
}
@font-face {
  font-family: open-sans-semibold;
  src: url(../../fonts/OpenSans_SemiBold.woff);
}
@font-face {
  font-family: pantomtavruli;
  src: url(../../fonts/pantonmtav3-bold.woff);
}
.f-open-r{
	font-family: open-sans-regular;
}
.f-open-sm{
	font-family: open-sans-semibold;
}
.f-pant{
	font-family: pantomtavruli;
}
.f-12{
	font-size: 12px;
}
.color-darkgray{
	color: #464646;
}
.mg-left-15{
	margin-left: 15px;
}
.pos-rel{
	position: relative;
}
.btn-regular{
	background: #e2aa4f;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	display: inline-block;
	color: white;
	font-family: open-sans-regular;
	padding: 8px 36px;
	font-size: 14px;
}
.btn-regular:hover{
	text-decoration: none;
	color: white;
	background: #bf8933;
	transition: 0.3s;
}
.main-line{

}
.main-line img{
	width: 100%;
}
@keyframes slideUp {
	0% {
	    -webkit-transform: translateY(20%);
	    transform: translateY(20%);
	    opacity: 0;
	}
	100% {
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	    opacity: 1;
	}
}
.slideUp{
	animation: slideUp 1s ease forwards;
}

/*   HEADER START   */
header{
	height: 100px;
	background: #fff;
	position: relative;
	-webkit-box-shadow: 0px 0px 32px 0px rgba(207,207,207,0.4);
	-moz-box-shadow: 0px 0px 32px 0px rgba(207,207,207,0.4);
	box-shadow: 0px 0px 32px 0px rgba(207,207,207,0.4);
	z-index: 111;
}
#logo{
	height: 90px;
	margin-top: 5px;
}
.i-envelope{
	width: 13px;
}
.i-reciver{
	width: 13px;
}
.header-top-content{
	height: 40px;
}
.header-top-content>div{
	height: 40px;
	line-height: 40px;
}
.header-menu{
	height: 60px;
}
.header-menu-col{
	z-index: 1;
}
.menu-bg{
	position: absolute;
    height: 60px;
    bottom: 0;
    right: 0px;
    width: 70%;
    z-index: 0;
    border-top-left-radius: 60px;
}
.header-socials,
.header-langs{
	display: inline-block;
    float: right;
	display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-socials>div{
	height: 60px;
	line-height: 52px;
}
.header-socials>div a{
	display: inline-block;
}
.header-langs{
	position: relative;
}
.header-langs:after{
	content: '';
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    width: 1px;
}
.header-langs:before{
	content: '';
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    width: 1px;
}
.header-langs>div{
	height: 60px;
	line-height: 60px;
}
.lang a{
	color: #fff;
	font-size: 14px;
}
.menu ul.main-menu > li {
	float: left;
	list-style-type: none;
	margin-right: 3px;
}
.menu{
	float: right;
}
.menu ul.main-menu{
	height: 60px;
    line-height: 60px;
    display: inline-block;
    float: right;
}
.menu ul.main-menu > li > a {
	font-family: pantomtavruli;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	padding: 9px 18px;
	border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu ul.main-menu > li > a:hover{
	transition: 0.7s;
	background: rgba(255, 255, 255, 0.2);
	/*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
}
.sub-menu{
	position: relative;
	margin-right: 30px;
}
.sub-menu:after{
	content: '';
    background: url(../../img/right-arrow.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    right: 13px;
    top: 42%;
    width: 6px;
    height: 8px;
    transform: translateY(-50%);
    -webkit-transform: rotate(90deg) translateY(-90%);
    -moz-transform: rotate(90deg) translateY(-90%);
    -ms-transform: rotate(90deg) translateY(-90%);
    -o-transform: rotate(90deg) translateY(-90%);
    transform: rotate(90deg) translateY(-90%);
}
.sub-menu:hover .sub-menu-item{
	display: block;
	transition: .5s;
}
.sub-menu-item{
	display: none;
	position: absolute;
    top: 58px;
    right: 50%;
	background: #e2aa4f;
    transform: translateX(50%);
    border-bottom-right-radius: 40px;
}
.sub-menu-item li{
	list-style-type: none;
	margin-right: 3px;
	padding: 0 15px;
	white-space: nowrap;
	height: 52px;
    line-height: 52px;
}
.sub-menu-item li > a {
	font-family: pantomtavruli;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	padding: 5px 18px;
	border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
}


/*   SLIDER START   */
.slider-container{
	overflow: hidden;
	position: relative;
}
.owl-carousel-main .item{
	position: relative;
}
.owl-carousel-main .item .image{
	padding-top: 42%;
}
.owl-carousel-main .item .img-blur{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(24, 24, 24, 0.12);
}
.slider-btm{
	position: absolute;
	bottom: 0;
	left: -5px;
	width: 102%;
	z-index: 1111;
	height: 130px;
    overflow: hidden;
}
.slider-btm img{
	width: 102%;
	position: absolute;
	bottom: 0;
}
.slider-btm img:last-child{
	bottom: -25px;
}
.slider-loader{
	position: absolute;
    left: 0;
    width: 5px;
    bottom: 100%;
    top: 0;
    background: #e2aa4f;
    z-index: 11;
}
@keyframes sliderAnimation {
  0%   { bottom: 100%; }
  100% { bottom: 0%; }
}
.slider-loader-animation{
	animation: sliderAnimation 5s cubic-bezier(0, 0, 0.48, 1) forwards;
}
.slider-text{
	position: absolute;
    top: 25%;
    left: 6%;
	z-index: 11;
}
.slider-text h2{
	font-size: 45px;
	margin-bottom: 30px;
}
.slider-text .slider-line {
	height: 3px;
    background: white;
    width: 120px;
}
.slider-text .text{
	font-size: 14px;
    max-width: 550px;
    margin-top: 30px;
}
.slider-text .slider-btn{
	margin-top: 30px;
}


/*   ABOUT SECTION   */
.main-line-1{
	margin-top: 60px;
}
.main-about-container{
	margin-top: 80px;
	padding-left: 45px;
}
.about-image{
	padding-top: 78%;
	border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.about-image-bg{
	padding-top: 78%;
    position: absolute;
    left: -30px;
    background: rgba(226, 170, 79, 0.5);;
    width: 100%;
    z-index: -1;
    top: 30px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.main-about-container h2{
	font-size: 45px;
	display: inline-block;
    padding-bottom: 50px;
    margin-bottom: 50px;
    position: relative;
}
.main-about-container h2 a{
	color: #464646;
	text-decoration: none;
}
.main-about-container h2:after{
	content: '';
	width: 120px;
	position: absolute;
	bottom: 0;
	background: white;
	height: 3px;
	left: 0;
}
.main-about-container div.descr{
	font-size: 14px;
}
.main-about-container .descr-container{
	padding-left: 5%;
	position: relative;
    padding-bottom: 60px;
}
.main-about-container .btn-regular{
	position: absolute;
    bottom: 0;
}
.services{
	margin-top: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.services .service-item{
	background: #fff;
	width: 17%;
	height: 230px;
	border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    opacity: 0;
}
.service-item .icon{
	height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-item .icon img{
	width: 26%;
}
.service-item .text{
	padding: 0 50px;
    text-align: center;
}
.service-item a{
	display: inline-block;
    width: 100%;
    height: 100%;
}
.service-item:hover{
	transform: scale(1.028);
	-webkit-box-shadow: 0px 0px 32px 0px rgba(152, 152, 152, 0.4);
    -moz-box-shadow: 0px 0px 32px 0px rgba(152, 152, 152, 0.4);
    box-shadow: 0px 0px 32px 0px rgba(152, 152, 152, 0.4);
	transition: 0.5s ease;
}
.service-item a:hover{
	text-decoration: none;
}
.service-item a:hover div.text{
	color: #e2aa4f;
	transition: .5s;
}
.service-item a:hover img{
	fill: #e2aa4f;
	transition: .5s;
}
.services-button{
	margin-top: 50px;
}
.service-item-2{
	width: 49%;
	background: #fff;
    height: 230px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    opacity: 0;
}
.service-item-2 a{
	display: inline-flex;
	align-items: center;
	justify-content: center;
    width: 100%;
    height: 100%;
}
.service-item-2:hover{
	-webkit-box-shadow: 0px 0px 32px 0px rgba(152, 152, 152, 0.4);
    -moz-box-shadow: 0px 0px 32px 0px rgba(152, 152, 152, 0.4);
    box-shadow: 0px 0px 32px 0px rgba(152, 152, 152, 0.4);
	transition: 0.5s ease;
}
.service-item-2 a:hover{
	text-decoration: none;
}
.service-item-2 a:hover .text{
	color: #e2aa4f;
	transition: .5s;
}
.service-item-2 .icon{
	width: 30%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.service-item-2 .icon img{
	width: 50%;
}
.service-item-2 .text{
	display: inline-block;
	width: 69%;
}
.service-item-2 .text .title{
	font-size: 18px;
	margin-bottom: 20px;
}
.service-item-2 .text .descr{
	font-size: 12px!important;
	line-height: 16px;
	width: 80%;
}


.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}  
/* .owl-animated-out - only for current item */ 
/* This is very important class. Use z-index if you want move Out item above In item */ 
.owl-animated-out {
  z-index : 1 
   }
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */ 
.owl-animated-in {
  z-index : 0 
   }
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */ 
.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}  
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}
@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }  
}







/*  STOMATOLOGY  */
.section-service{
	margin-top: 60px;
}
.section-service .heading h2 a{
	font-size: 50px;
}
.section-service .heading h2 a:hover{
	color: #464646;
	text-decoration: none;
}
.section-service .heading .descr{
	font-size: 14px;
}
.stomatology-slider{
	margin-top: 120px;
}
.owl-carousel-1 .image{
	padding-top: 65%;
}
.owl-carousel-1 .owl-nav{
	text-align: right;
	margin-top: 20px;
}
.owl-carousel-1 .owl-dots{
	text-align: right;
}
.owl-carousel-1 .owl-dots button{
	width: 40px;
    height: 4px;
    background: rgba(226, 170, 79, .5);
    margin-left: 10px;
}
.owl-carousel-1 .owl-dots button.active{
	background-color: rgba(226, 170, 75, 1);
}
.owl-carousel-1 .item{
	position: relative;
}
.owl-carousel-1 .item .img-blur,
.owl-carousel-2 .item .img-blur{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(24, 24, 24, 0.5);
}
.owl-carousel-1 .item:hover,
.owl-carousel-2 .item:hover{
	cursor: pointer;
}
.owl-carousel-1 .item:hover .img-blur,
.owl-carousel-2 .item:hover .img-blur{
	background: rgba(226, 170, 79, 0.4);
	transition: 0.5s;
}
.cosmetology-slider{
	margin-top: 120px;
	margin-bottom: 150px;
}
.owl-carousel-2 .image{
	padding-top: 65%;
}
.owl-carousel-2 .owl-nav{
	text-align: right;
	margin-top: 20px;
}
.owl-carousel-2 .owl-dots{
	text-align: left;
}
.owl-carousel-2 .owl-dots button{
	width: 40px;
    height: 4px;
    background: rgba(226, 170, 79, .5);
    margin-left: 10px;
}
.owl-carousel-2 .owl-dots button.active{
	background-color: rgba(226, 170, 75, 1);
}
.slider-zoom{
	position: absolute;
    top: 50%;
    width: 5%!important;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-50deg) scale(0);
}
.item:hover .slider-zoom{
	transform: translate(-50%, -50%) rotate(0deg) scale(1);
	transition: 0.5s;
}




/*  Footer Start  */
	footer{
		background: #e2aa4f;
		position: relative;
		padding-top: 40px;
	}
	.footer-head{
		position: absolute;
		top: -42px;
		height: 58px;
	    width: 100%;
	    overflow: hidden;
	}
	.footer-head-container{
		position: relative;
		width: 100%;
	}
	.footer-head-container img{
		position: absolute;
		width: 102%;
	}
	.footer-head-container img:last-child{
		top: 11px;
	    left: -6px;
	}
	.footer-menu{
		width: 100%;
	    border-bottom: 1px solid rgba(255, 255, 255, .2);
	    text-align: center;
	}
	.footer-menu ul{
		display: inline-block;
	}
	.footer-menu ul li {
		float: left;
		list-style-type: none;
		margin: 0 15px;
	}
	.footer-menu ul li a{
		font-size: 13px;
		font-family: open-sans-regular;
		color: white;
		padding: 8px 0;
	}
	.footer-menu ul li a:hover{
		text-decoration: none;
		transition: .5s ease;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	.footer-contact-container{
		border-bottom: 1px solid rgba(255, 255, 255, .2);
		padding: 40px 0;
	}
	.footer-contact-container.bottom{
		padding: 40px 0 20px;
	}
	.footer-contact{
		text-align: center;
	}
	.footer-contact img.contact{
		width: 6%;
		margin-bottom: 10px;
	}
	.footer-contact .target a{
		color: #fff;
	}
	.footer-contact .text {
		color: rgba(255, 255, 255, 0.5);
		font-size: 12px;
	}
	.footer-contact .target a:hover{
		text-decoration: none;
	}
	.copyright{
		font-size: 12px;
		color: #fff;
	}
	.footer-contact{
		display: inline-block;
		width: 100%;
	}
	.footer-contact .socials{
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.footer-contact .socials div{
		display: inline-block;
		margin: 0 6px;
	}
	.footer-contact .socials img{
		width: 16px;
	}
/*  Footer End  */



/*  Lightslider start  */
	.lg-backdrop.in{
		background: rgba(0, 0, 0, 0.7);
	}
	.lg-actions .lg-prev,
	.lg-actions .lg-next{
		border: none;
	}
	.lg-thumb-outer.lg-grab{
		background: #181818;
	}
	.lg-outer .lg-thumb-item.active, 
	.lg-outer .lg-thumb-item:hover {
	    border-color: #e2aa4f;
	}
/*  Lightslider End  */



/*  Banners start  */

	.banner{
		position: relative;
		overflow: hidden;
		z-index: 0;
	}
	.banner-img{
		padding-top: 15%;
	}
	.banner > .title{
		position: absolute;
		left: 10%;
		top: 24%;
		font-size: 45px;
		z-index: 99999999;
	}
	.banner .img-blur{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.12);
	}

/*  Banners End  */



/*  Doctors start  */
	.container.doctors{
		margin-top: 100px;
		margin-bottom: 150px;
	}
	.doctor-item .image{
		padding-top: 66%;
		border-top-left-radius: 40px;
	}
	.doctor-item{
		margin-bottom: 30px;
		background: white;
		border-top-left-radius: 40px;
   		border-bottom-right-radius: 40px;
   		-webkit-box-shadow: 0px 0px 32px 0px rgba(207,207,207,0.4);
		-moz-box-shadow: 0px 0px 32px 0px rgba(207,207,207,0.4);
		box-shadow: 0px 0px 32px 0px rgba(207,207,207,0.4);
	}
	.doctor-item .title{
		font-size: 16px;
		padding-top: 20px;
		padding-left: 30px;
	}
	.doctor-item .position {
		font-size: 14px;
		padding-top: 15px;
		padding-left: 30px;
		padding-bottom: 25px;
		color: #8a8a8a;
	}
/*  Doctors End  */


/*  About start  */
	.container.about{
		margin-top: 100px;
		margin-bottom: 150px;
	    padding: 45px 7% 40px;
	    position: relative;
	}
	.container.about .about-bg{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 40%;
	    border-top-left-radius: 60px;
	    border-bottom-right-radius: 60px;
		background: #fff;
		z-index: -1;
		-webkit-box-shadow: 0px 0px 32px 0px rgba(207,207,207,0.4);
		-moz-box-shadow: 0px 0px 32px 0px rgba(207,207,207,0.4);
		box-shadow: 0px 0px 32px 0px rgba(207,207,207,0.4);
	}
	.container.about .title{
		font-size: 24px;
		margin-bottom: 40px;
	}
	.container.about .descr{
		font-size: 14px;
		text-align: center;
	}
	.container.about .gallery{
		margin-top: 80px;
		padding: 0;
	}
	.container.about .gallery .image{
		padding-top: 66%;
	}
	.container.about .gallery .row >div{
		margin-bottom: 30px;
	}
	.container.about .gallery-image{
		position: relative;
		display: inherit;
	}
	.container.about .shadow-bg{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.12);
	}
	.gallery-image:hover .shadow-bg{
		background: rgba(226, 170, 79, 0.21);
		transition: 0.5s;
	}
	.gallery-image:hover .slider-zoom{
		transform: translate(-50%, -50%) rotate(0deg) scale(1);
		transition: 0.5s;
	}
/*  About End  */


/*  Contact start  */
	.container.contact{
		margin-top: 50px;
		margin-bottom: 150px;
	}
	.container.contact .icon{
		padding: 7px;
		background: #e2aa4f;
		border-radius: 50%;
		display: inline-flex;
    	align-items: center;
    	justify-content: center;
	}
	.contact-text-container{
		display: flex;
		align-items: center;
	}
	.container.contact .icon img{
		width: 14px;
	}
	.container.contact .sub-text{
		color: #949292;
		font-size: 14px;
		display: inline-block;
		width: 50px;
		padding-left: 10px;
		margin-right: 20px;
	}
	.container.contact .text{
		color: #5d5959;
		font-size: 16px;
	}
	.container.contact .text a{
		color: #5d5959;
		font-size: 14px;
	}
	.container.contact .contact-item{
		display: block;
		padding: 20px 0;
	}
	.map-container{
		background: white;
	    padding: 40px;
	    border-top-left-radius: 40px;
	    border-bottom-right-radius: 40px;
	}
	#map{
		height: 27vw;
		border-top-left-radius: 40px;
	    border-bottom-right-radius: 40px;
	}
/*  Contact End  */

/*  Service Start  */
	.container.service{
		margin-top: 50px;
		margin-bottom: 150px;
	}
	.service-content{
		background: #fff;
		border-top-left-radius: 40px;
    	border-bottom-right-radius: 40px;
   	    padding: 50px;
	}
	.service-menu{
		background: #fff;
		padding: 35px 0;
    	border-top-left-radius: 40px;
    	border-bottom-right-radius: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.service-menu ul{
		display: inline-block;
	}
	.service-menu li {
		list-style-type: none;
		padding: 15px 0 15px 30px;
		position: relative;
	}
	.service-menu li:before{
		content: '';
		position: absolute;
		left: 0;
		width: 12px;
		height: 1px;
		background: rgba(226, 170, 79, .5);
		top: 50%;
		transform: translateY(-50%);
	}
	.service-menu li.active{
		padding-left: 50px;
	}
	.service-menu li.active a{
		color: #e2aa4f;
		font-family: open-sans-semibold;
	}
	.service-menu li.active:before{
		background: rgba(226, 170, 79, 1);
		width: 30px;
	}
	.service-menu li:hover a{
		color: #e2aa4f;
		transition: .3s ease;
	}
	.service-menu li:hover:before{
		background: #e2aa4f;
		transition: .3s ease;
	}
	.service-menu li a{
		color: #464646;
		font-family: open-sans-regular;	
		display: inline-block;
		max-width: 170px;
	}
	.service-text{
		font-size: 13px;
		margin-bottom: 50px;
	}

/*  Service End  */


.mobile-lang,
.mobile-socials{
	display: none;
}
.mobile-lang{
	padding: 0 20px;
	font-size: 12px;
}
.mobile-socials{
	line-height: 35px!important;
}
.header-menu-col-mobile{
	display: none;
}
.burger-menu-ul{
	display: none;
}
.slider-btm{
	z-index: 30;
}

.burger-menu{
	text-align: right;
    float: right;
    height: 60px;
    display: flex;
    align-items: center;
}
.header-menu-col-mobile{
	z-index: 99;
}
.resp-menu{
	width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    top: 100Px;
    left: -120%;
    z-index: 1000;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    display: none;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0, 0.97);
}
.resp-menu.active {
    left: 0;
}
.resp-menu>ul{
	padding-top: 50px;
}
.resp-menu > ul>li {
	padding: 10px 0;
}
.resp-menu>ul>li.active > a {
	color: #e2aa4f;
}
.resp-menu>ul>li>a {
	color: #484848;
	font-family: pantomtavruli;
}
.resp-menu .sub-menu{
	margin: 0;
	position: relative;
}
.resp-menu .sub-menu > a:after{
	content: '';
    background: url(../../img/right-arrow-dark.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 27%;
    width: 6px;
    height: 8px;
    transform: translateY(-50%);
    -webkit-transform: rotate(90deg) translateY(-90%);
    -moz-transform: rotate(90deg) translateY(-90%);
    -ms-transform: rotate(90deg) translateY(-90%);
    -o-transform: rotate(90deg) translateY(-90%);
    transform: rotate(90deg) translateY(-90%);
}
.resp-menu .sub-menu > a{
	padding: 0 20px;
	position: relative;
}
.mobile-sub-menu{
	display: none;
}
.mobile-sub-menu.active{
	display: block;
}
.mobile-sub-menu li:first-child{
	margin-top: 10px;
}
.mobile-sub-menu li a{
	color: #808080;
	cursor: pointer;
	font-family: open-sans-semibold;
	font-size: 13px;
}
#nav-icon3 {
  width: 35px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon3 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 12px;
}
#nav-icon3 span:nth-child(4) {
  top: 24px;
}
#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.service-mobile-menu{
	display: none;
}



@media (min-width: 576px) {
	.container {
	    max-width: 90%;
	}
}

@media (min-width: 768px) {
	.container {
	    max-width: 90%;
	}
}

@media (min-width: 992px) {
	.container {
	    max-width: 90%;
	}
}

@media (min-width: 1200px) {
	.container {
	    max-width: 90%;
	}
}

@media (min-width: 1400px) {
	.container {
	    max-width: 85%;
	}
}

@media (min-width: 1600px) {
	.container {
	    max-width: 80%;
	}
}


@media (max-width: 1400px) {
	.lang a,
	.sub-menu-item li > a,
	.menu ul.main-menu > li > a{
		font-size: 13px;
	}
	.menu ul.main-menu > li > a{
		padding: 9px 16px;
	}
	.service-item .icon{
		height: 130px;
	}
	.services .service-item{
		height: 195px;
	}
	.main-line-1{
		margin-top: 40px;
	}
	.slider-text{
		top: 18%;
	}
	.service-menu li a{
		font-size: 14px;
	}
}

@media (max-width: 1290px) {
	.lang a{
		color: red;
	}
	.header-socials{
		display: none;
	}
	.header-langs{
		display: none;
	}
	.mobile-lang,
	.mobile-socials{
		display: block;
	}
	.menu{
		padding-right: 0px;
		max-width: 100%;
	}
	.menu ul>li:last-child a{
		padding-right: 0;
	}
	.slider-text h2{
		font-size: 35px;
		margin-bottom: 20px;
	}
	.slider-text .text{
		margin-top: 20px;
	}
	.slider-text .slider-btn {
	    margin-top: 25px;
	}
	.slider-text .text{
		font-size: 13px;
		width: 450px;
	}
	.main-about-container h2{
		font-size: 35px;
		padding-bottom: 25px;
    	margin-bottom: 25px;
	}
	.main-about-container div.descr{
		font-size: 13px;
	}
	.section-service .heading h2 a {
	    font-size: 40px;
	}
	.section-service .heading .descr {
	    font-size: 13px;
	}
	.banner > .title{
		font-size: 42px;
	}
	.container.about .about-bg{
		bottom: 24%;
	}
	.container.about{
		margin-bottom: 90px;
	}
	.service-aside-menu{
		display: none;
	}
	.service-main-text{
		max-width: 100%;
	}
	.service-mobile-menu{
		display: block;
		padding: 25px 50px;
	    background: white;
	    margin-bottom: 20px;
	    border-top-left-radius: 40px;
	    border-bottom-right-radius: 40px;
	}
	.service-mobile-menu .title{
		color: #e2aa4f;
		position: relative;
		padding-right: 10px;
	}
	.service-mobile-menu .title:after{
		content: '';
	    background: url(../../img/right-arrow-dark.svg);
	    position: absolute;
	    background-repeat: no-repeat;
	    background-size: cover;
		right: 2px;
    	top: 37%;
	    width: 6px;
	    height: 8px;
	    transform: translateY(-50%);
	    -webkit-transform: rotate(90deg) translateY(-90%);
	    -moz-transform: rotate(90deg) translateY(-90%);
	    -ms-transform: rotate(90deg) translateY(-90%);
	    -o-transform: rotate(90deg) translateY(-90%);
	    transform: rotate(90deg) translateY(-90%);
	}
	.service-mobile-menu .sub-menu-titles{
		height: 0;
    	overflow: hidden;
	}
	.sub-menu-titles.active{
		height: auto;
	}
	.sub-menu-titles ul li a{
		color: #464646;
		font-size: 14px;
	}
	.sub-menu-titles ul li{
		padding: 5px 0;
	}
	.sub-menu-titles ul{
		padding-top: 10px;
	}
} 


@media (max-width: 1200px) {
	.lang a{
		color: red;
	}
	.banner-img{
		padding-top: 19%;
	}
	.container.about{
		margin-top: 70px;
	}
	.container.about .descr {
	    font-size: 13px;
	}
	.container.about .title{
		margin-bottom: 30px;
	}
	.map-container{
		padding: 30px;
	}
} 

@media (max-width: 991px) {
	.btn-regular{
		font-size: 12px;
	}
	.header-menu-col{
		display: none;
	}
	.slider-text .text{
		display: none;
	}
	.slider-text h2 {
	    font-size: 30px;
	    margin-bottom: 18px;
	}
	.about-image-container{
		display: none;
	}
	.main-about-container {
	    margin-top: 50px;
	    padding-left: 0;
	}
	.main-about-container .descr-container{
		text-align: center;
	}
	.main-about-container h2:after{
		left: 50%;
    	transform: translateX(-50%);
	}
	.main-about-container .btn-regular{
		left: 50%;
    	transform: translateX(-50%);
	}
	.main-about-container h2{
		font-size: 30px;
	}
	.main-about-container div.descr {
	    font-size: 12px;
	}
	.section-service .heading h2 a{
		font-size: 30px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.section-service .heading .descr {
	    font-size: 12px;
	}
	.services{
		display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
	    align-items: center;
	    justify-content: center;
	}
	.services .service-item{
		display: flex;
		flex-basis: 30%;
		justify-content: space-around;
		flex-direction: column;
		margin-bottom: 15px;
   		margin-left: 15px;
	}
	.services-button{
		margin-top: 20px;
	    left: 50%;
	    position: absolute;
	    transform: translateX(-50%);
	}
	.service-item-2{
		width: 100%;
		margin-bottom: 15px;
	}
	.footer-contact-container.bottom {
	    padding: 30px 0 20px;
	}
	.footer-head{
		top: -38px;
	}
	.footer-contact img.contact{
		width: 8%;
	}
	.header-menu-col-mobile{
		height: 100px;
		display: block;
	}
	.header-menu-col-mobile .socials{
		text-align: right;
		height: 40px;
		line-height: 35px;
	}
	.burger-menu-ul{
		display: block;
	}
	.resp-menu{
		display: block;
	}
	.banner > .title{
		font-size: 38px;
	}
	.banner-img {
	    padding-top: 21%;
	}
	.container.about {
	    margin-top: 50px;
	}
	.container.contact .sub-text{
		display: block;
    	width: 100%;
	}
	.container.contact .text{
		display: block;
	}
	.container.contact .contact-item {
		text-align: center;
		/*width: 32.9%;*/
    	display: inline-block;
	}
	.contact-text-wrap{
		width: 100%;
		margin-bottom: 25px;
		display: flex;
    	align-items: center;
    	justify-content: space-around;
	}
	#map{
		height: 41vw;
	}
} 

@media (max-width: 768px) {
	.menu-bg{
		width: 55%;
	}
	.slider-text h2{
		font-size: 26px;
	}
	.btn-regular{
		font-size: 11px;
	}
	.services .service-item{
		flex-basis: 45%;
	}
	.footer-head-container img{
		top: 13px;
	}
	.footer-head-container img:last-child{
		top: 20px;
	}
	.footer-contact img.contact{
		width: 12%;
	}
	.footer-contact .target a{
		font-size: 14px;
	}
	.about-gallery-item{
		width: 50%;
		padding: 0 5px;
    	margin-bottom: 10px!important;
	}
	.banner-img {
	    padding-top: 26%;
	}
	.doctors-item-container{
		max-width: 50%;
	}
	.contact-text-wrap{
		display: block;
	}
	.container.contact .contact-item{
		width: 100%;
	}
	.map-container {
	    padding: 23px;
	}
	.container.contact{
		margin-bottom: 120px;
	}
	#map {
	    height: 51vw;
	}
	.owl-carousel-1 .owl-dots,
	.owl-carousel-2 .owl-dots{
		display: none;
	}
	.owl-carousel-1 .owl-nav{
		margin-top: 0;
	}
	.owl-carousel .owl-nav button.owl-next, 
	.owl-carousel .owl-nav button.owl-prev, 
	.owl-carousel button.owl-dot{
		font-size: 20px;
    	color: #e2aa4f;
	}
	.stomatology-slider .owl-nav{
		padding: 0 30px;
	}
	.stomatology-slider .owl-carousel .owl-nav button.owl-next, 
	.stomatology-slider .owl-carousel .owl-nav button.owl-prev, 
	.stomatology-slider .owl-carousel button.owl-dot{
		font-size: 25px;
    	color: #e2aa4f;
	}
	.stomatology-slider .owl-carousel .owl-nav button.owl-next{
		margin-left: 10px;
	}
	.cosmetology-slider .owl-nav{
		padding: 0 30px;
		text-align: left;
	}
	.cosmetology-slider .owl-carousel .owl-nav button.owl-next, 
	.cosmetology-slider .owl-carousel .owl-nav button.owl-prev, 
	.cosmetology-slider .owl-carousel button.owl-dot{
		font-size: 25px;
    	color: #e2aa4f;
	}
	.cosmetology-slider .owl-carousel .owl-nav button.owl-next{
		margin-left: 10px;
	}
}

@media (max-width: 640px){
	.doctors-item-container{
		max-width: 100%;
	}
}

@media (max-width: 575px) {
	.menu-bg{
		width: 50%;
	}
	.logo-container{
		position: absolute;
    	left: 15px;
	}
	.owl-carousel-main .item .image{
		padding-top: 52%;
	}
	.services{
		padding: 0 15px;
	}
	.footer-contact-container{
		padding: 25px 0;
	}
	.footer-contact-container.bottom {
	    padding: 25px 0 0px;
	}
	.footer-menu ul li{
		float: unset;
		width: 19%;
    	display: inline-block;
    	margin-bottom: 10px;
	}
	.footer-head {
	    top: -33px;
	}
	.footer-head-container img {
	    top: 16px;
	}
	.footer-contact{
		margin-bottom: 15px;
	}
	.footer-contact img.contact {
	    width: 5%;
	}
	.service-item .text {
    	padding: 0 22px;
	}
	#logo {
	    height: 80px;
	    margin-top: 10px;
	}
	.section-service {
	    margin-top: 40px;
	}
	.heading h2,
	.heading .descr{
		text-align: center;
	}
	.container.about .about-bg {
		top: 15px;
    	left: 15px;
    	right: 15px;
	}
	.container.about {
	    padding: 45px 11% 40px;
	}
	.banner-img {
	    padding-top: 31%;
	}
	.container.service{
		padding: 0 30px;
	}
	.service-content{
		padding: 30px;
	}
	.service-mobile-menu{
		padding: 25px 30px;
	}
}

@media (max-width: 459px){
	.services .service-item {
	    flex-basis: 54%;
	}
	.about-gallery-item{
		width: 100%;
		padding: 0;
    	margin-bottom: 10px!important;
	}
}